<mat-toolbar>
  <mat-icon>assignment_turned_in</mat-icon>
  <span>Todo App</span>
</mat-toolbar>
<div class="content-wrapper" fxLayout="column" fxLayoutAlign=" center">
  <div class="container-wrapper">
    <div class="container">
      <h2>Tekemättä</h2>
      <mat-card
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="todo | async"
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list"
      >
        <p class="empty-label" *ngIf="(todo | async)?.length === 0">
          Tyhjä lista
        </p>
        <app-task
          (edit)="editTask('todo', $event)"
          *ngFor="let task of todo | async"
          cdkDrag
          [task]="task"
        ></app-task
      ></mat-card>
    </div>
    <div class="container">
      <h2>Työn alla</h2>
      <mat-card
        cdkDropList
        id="inProgress"
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress | async"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="list"
      >
        <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">
          Tyhjä lista
        </p>
        <app-task
          (edit)="editTask('inProgress', $event)"
          *ngFor="let task of inProgress | async"
          cdkDrag
          [task]="task"
        ></app-task
      ></mat-card>
    </div>
    <div class="container">
      <h2>Valmiit</h2>
      <mat-card
        cdkDropList
        id="done"
        #doneList="cdkDropList"
        [cdkDropListData]="done | async"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list"
      >
        <p class="empty-label" *ngIf="(done | async)?.length === 0">
          Tyhjä lista
        </p>
        <app-task
          (edit)="editTask('done', $event)"
          *ngFor="let task of done | async"
          cdkDrag
          [task]="task"
        ></app-task
      ></mat-card>
    </div>
  </div>
  <div class="button-wrapper">
    <button class="add-btn" (click)="newTask()" mat-raised-button>
      <mat-icon>add</mat-icon> Lisää tehtävä
    </button>
  </div>
</div>
